<%if(typeof opPost === 'undefined') {
    opPost=false;
}%>
<div class="postContainer">
    <div id="p-message.getId()" class="post <%=opPost?'op':'reply'%> <%=message.pending?'pending':''%>">
        <div class="postInfo desktop" id="pi172999365">
            <% if(message.pending) { %>
            <span class="postInfo">
                <span class="pending">Pending</span>
            </span>
            <% } %>
            <span class="dateTime"><%=message.getFormattedDate()%></span>
            <span class="postNum">
                <a href="<%if(link=='thread'){%>/thread/<%=message.getId()%>/<% } else {%>#p-<%=message.getId()%><%}%>">
                    <%=message.getIdShort()%>
                </a>
            </span>
        </div>
        <blockquote class="postMessage" id="m172999365">
            <%-htmlDisplay(message.message)%>
        </blockquote>
    </div>
</div>