<h1>Places</h1>

<table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Url</th>
        <th scope="col">Enabled</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% places.forEach(function(place){ %>
    <tr>
        <form action="" method="post">
            <th scope="row">
                <%=place.id%>
                <input type="hidden" name="id" value="<%=place.id%>" />
            </th>
            <td><%=place.url%></td>
            <td><input type="checkbox" disabled <%-place.enabled?'checked':''%> /></td>
            <td class="form-group">
                <button class="btn btn-sm btn-danger" type="submit" name="action" value="delete">Delete</button>
            </td>
        </form>
    </tr>
    <% }); %>
    </tbody>
</table>

<form action="" method="post">
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <div class="form-group">
                <% const urlError=_.find(form.errors, {field:'url'}); %>
                <input class="form-control form-control-sm <%=urlError?'is-invalid':(form.isValidated?'is-valid':'')%>" type="text" name="url" value="<%=form.url%>" />
                <% if(urlError) { %>
                <div class="invalid-feedback">
                    <%= urlError.message %>
                </div>
                <% } %>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group">
                <button class="btn btn-sm btn-success" type="submit" name="action" value="add">Add</button>
            </div>
        </div>
    </div>

</form>